<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--     
        <button class="btn btn-md btn-primary btn-block" name="Submit" value="Submit" type="Submit">Get Movies</button>
        <div class="details" th:if="${movies != null }" method="get">
        <h3>Title: <span th:text="${movies.results.title}"></span></h3>
        <p><b>Overview:</b> <span th:text="${movies.results.overview}"></span>F</p>
        <p><b>Release Date:</b> <span th:text="${movies.results.release_date}"></span>%</p>
    
     -->
</body>

</html>